<?xml version="1.0" encoding="utf-8"?>
<configuration>	
  <configSections>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <microsoft.web.services2>
	<messaging>
		<allowRedirectedResponses enabled="true" />
	</messaging>
    <diagnostics />
  </microsoft.web.services2>
  
	<appSettings>	
		<add key="LogFile" value="log.txt"/> <!-- in Bin Directory-->
		<add key="LSID_CLIENT_HOME" value="c:\lsid-client"/> 
	</appSettings>
</configuration>